.email-input-wrap{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    margin-top: 2.5em;

    .email-input{
    outline: none;
    padding-top: 5px;
    padding-left: 30px;  
    box-sizing: border-box;
    border-radius: 25px;
    width: 421px;
    font-size: 12pt;
    margin-right: 1em;
    height: 57px;
    border: 1px solid hsl(223, 100%, 88%);
    
    &::placeholder{
        font-size: 13pt;
        font-weight: 100;
        color:hsla(0, 0%, 59%, 0.502);
    }

    }
    .input-error{
        border: 1px  hsl(354, 100%, 66%) solid ;
      
    }
    .notify-btn-wrap{
        .notify-btn{
            cursor: pointer;
            outline: none;
            height: 55px;
            width: 200px;
            background-color:#4c7bf3;
            border-radius: 50px;
            color: white;
            font-size: 12.5pt;
            border: none;

            
        }
    }
    .err-msg-wrap{
        flex-basis: 100%;
        align-self: flex-end;
        margin-right:350px;
        .err-msg{
            color: red;
            font-style: italic;
            font-size: 11pt;
            text-align: center;
            
        }
    }
}


@media screen and(max-width:652px){
    .email-input-wrap{
        flex-direction: column;
      
       padding-right: 20px;
       padding-left: 20px;
               
        .email-input{
           margin-left: auto;
           margin-right: auto;
           width: 100%;
            
        }

        .notify-btn-wrap{
            margin-top: 20px;
            order: 1;
            .notify-btn{
                margin-left: auto;
                margin-right: auto;
                
                width: 100%;
            }
        }
        .err-msg-wrap{
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    
}