
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;600;700&display=swap');

.main{
  height: inherit;
    font-family: 'Libre Franklin', sans-serif;
    max-width: 1440px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    margin-top: 1.5em;

    .logo{
    margin-bottom: 2.7rem;
    }

    .main-title{
        color: #969696;
        font-size: 3em;
        
        font-weight: 300;
        margin-bottom: .4em;

        .bold{
            font-weight: 700;
            color: black;
        }
    }

    .sub-title{
        font-size: 15pt;
        font-weight: 300;
       
    }

    .dashboard-wrap{
      margin-top: 5em;
        max-width: 1440px;
        .dashboard-img{
            width: 100%;
            max-width: 640px;
        }
    }

    .social-icons-wrap{
        display: flex;
        width: 100%;
        justify-content: center;
        
        .social-icons{
            width: 100%;
            display: flex;
            margin-top: 1em;
            justify-content: space-between;
            max-width: 120px;
            
            .icon{
                padding: 4px;
                border: 1px hsla(0, 0%, 59%, 0.235) solid;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                fill: aqua;
            }
        }
    }
    .attribution{
       
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        text-align: center;
        a{
            color: blue;
        }
    }
   
}


@media screen and(max-width:652px){
    .main{

        .dashboard-wrap{
            margin-top: 2em;
        }

        .social-icons-wrap{
           .social-icons{
               margin-top: 2em;
               margin-bottom: 5px;
           }
        }
       
    }
}

@media screen and(max-width:370px){
    .main{
        .social-icons-wrap{
            margin-bottom: 15px;
            .social-icons{
               
            }
        }
    }
}